* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Poppins', sans-serif;
}

/* ------- header ------- */

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    
    background-image: url(../image/samar02.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100%;
}

.block-navbar {
    height: 130px;
    

    display: flex;
    
    /* justify-content: space-between; */


}

.logo {
    display: flex;
    align-items: center;

    margin: 0 200px 0 0;

}

nav {
    display: flex;
    align-items: center;
}

.dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.text__content {
    font-weight: 600;
    font-size: 0.85rem;
    
}

.text__content a {
    padding: 55px 15px;
    cursor: pointer;
}

.text__content a span {
    display: inline-block;
    transition: all 1s;
}

.text__content a:hover {
    color: #f55f8d;
}

.text__content a:hover span {
    animation: upToDown 0.3s;
}
  
@keyframes upToDown {
    49% {
      transform: translateY(100%);
    }

    50% {
      opacity: 0;
      transform: translateY(-100%);
    }

    51% {
      opacity: 1;
    }
}
  
  
.dropdown-content {
    display: none;
    position: absolute;
    left: 0;
    
    margin-top: 40px;
    background-color: white;
    width: 220px;
    box-shadow: 0px 1px 40px 0px rgb(0 0 0 / 10%);
    z-index: 1;
    transition: all 0.8s linear;
}

.dropdown:hover .dropdown-content {
    animation: up linear 1.2s 1;
}

@keyframes up {
    0% {
        transform: translateY(20px);
    }

    100% {
        transform: translateY(0);
    
    }
}
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.dropdown-content a:hover {
    background-color: #ddd;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}
  
.dropdown:hover .dropbtn {
    background-color: #3e8e41;

}

.extra-nav {

}

.extra-get {
    padding-left: 20px;
}

.extra-get a {
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    border-color: transparent !important;
    transition: all 0.5s;

    padding: 20px 35px;
    display: inline-block;
    border-radius: 40px;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.2;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
}

.extra-get a:hover {
    background-position: right center;
}


#navbar {

    
    transition: 0.4s;
    position: fixed;
    top: 0;
    /* left: 19%; */
    
    z-index: 99;
}
  


/* ------- carousel ---------  */
.carousel {
    width: 1200px;
    padding-top: 240px;
    
    display: flex;
}

.carousel-content {
    width: 60%;
}

.block-content-carousel {

}

.block-content-carousel h6 {
    font-weight: 700;
    font-size: 1.4rem;
    display: inline-block;
    border-radius: 30px;
    margin-bottom: 20px;
    color: #f55f8d;
}

.block-content-carousel h1 {
    font-size: 4.3rem;
    line-height: 1.1;
    font-weight: 800;
    color: #262626;
    margin-bottom: 20px;
}

.block-content-carousel p {
    font-size: 1.05rem;
    color: #636363;
    margin-bottom: 15px;

}

.block-content-carousel ul {
    list-style: none;
}

.block-content-carousel ul li {
    padding: 10px 5px 10px 0;
    font-size: 1.15rem;
    font-weight: 400;
    color: #636363;
}

.block-content-carousel ul li span {
    display: inline-block;
    margin-right: 10px;
    border-radius: 50%;
    padding: 3px 9px;
    color: white;
    background-image: linear-gradient(to right,#f55f8d 15%,#f8ae56 85%);

}

.extra-carousel {
    margin-top: 20px;
}

.extra-started{

}

.extra-started a {
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    border-color: transparent !important;
    transition: all 0.5s;

    padding: 20px 35px;
    display: inline-block;
    border-radius: 40px;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.2;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
}

.extra-started a:hover {
    background-position: right center;
}

.carousel-img {
    width: 40%;
   margin-top: -60px;

   
}

.block-carousel-img {
    position: relative;
}

.move {
    position: absolute;
    left: -114px;
    top: 0;

    animation: move 5s infinite;
}

@keyframes move {

    0% {
      -webkit-transform: rotate(1deg) translate(2px, 2px);
      transform: rotate(1deg) translate(2px, 2px); 
    }

    50% {
      -webkit-transform: rotate(-1deg) translate(-2px, -2px);
      transform: rotate(-1deg) translate(-2px, -2px); 
    }

    100% {
      -webkit-transform: rotate(1deg) translate(2px, 2px);
      transform: rotate(1deg) translate(2px, 2px); 
    } 
}


/* ---------- section ---------- */

section {
    padding-top: 115px;
    
}

/* ------- service -------- */

.service {
    display: flex;
    justify-content: center;

    background-image: url(../image/samar05.png);
    background-size: cover;
    background-position: top center ;
    background-repeat: no-repeat;

    padding-bottom: 70px;
}

.block-service {
    width: 1200px;
   

}

.service-title {
    text-align: center;
    margin-bottom: 40px;
}

.service-title h6 {
    color: #f55f8d;
    font-size: 1.4rem;
}

.service-title h2 {
    font-size: 3.8rem;
    line-height: 1.2;
}

.service-content {
    display: flex;
    justify-content: space-between !important;
    
}

.service-clone {
    width: 31.5%;
    
    transition: all 1s ease;
}

.service-clone:hover {
    transform: translateY(-15px);
}

.block-service-clone {
    text-align: center;
    padding: 30px;
    border-radius: 0.5rem;
    background: #fff;
    box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
    height: 420px;
}

.service-clone-img {
    
}

.service-clone-img img {
    width: 215px;
    height: 215px;
}


.service-clone-title {
    overflow: hidden;
}

.service-clone-title h4 {
    margin-bottom: 15px;
    color: #262626;
    font-weight: 700;
    font-size: 1.5rem;
}

.service-clone-title p {
    color: #636363;
    font-size: 1rem;
    padding: 0 2px;
}


/* ------ about ------  */
.about {

    margin-bottom: 90px;

    background-image: url(../image/samar09.png);
    background-size: contain;
    background-repeat: no-repeat;

   
    padding: 0 350px;
}

.block-about {
    padding-bottom: 115px;
    

}

.block-about-content {
    display: flex;
    padding-top: 100px;
    
}

.about-content-img {
    width: 50%;
    
    position: relative;
}

.block-img-about img {
   position: absolute;
   left: -450px;

   width: 960px;
   height: 640px;
   border-radius: 0 100px 100px 0;
}

.block-img-about::after {
    content: "";
    background: #fef2f6;
    position: absolute;
    top: 0;
    left: -430px;
    width: 960px;
    height: 640px;
    z-index: -1;
    transform: rotate(8deg);
    border-radius: 0 100px 100px 0;

}

.about-content-main {
    width: 50%;

 
}

.about-head {

}

.about-head h6 {
    font-size: 1.4rem;
    font-weight: 700;
    color: #f55f8d;
}

.about-head h2 {
    font-size: 3.8rem;
    line-height: 1.2;
    font-weight: 800;
    margin-bottom: 20px;
    color: #262626;
}

.about-head p {
    font-size: 0.9rem;
    line-height: 25px;
    color: #636363;
}

.about-check {

}

.about-check ul {
    list-style: none;
}

.about-check ul li {
    padding: 8px 5px 8px 0;
    font-size: 0.9rem;
    color: #636363;
}



.about-check ul li i {
   color: #f55f8d;
    font-size: 1.1rem;
    padding-top: 7px;
    padding-left: 15px;
    padding-right: 15px;

    position: relative;
   
}

.about-check ul li i::after {
    content: "";
    position: absolute;
    top: 2px;
    left: 10px;

    width: 22px;
    height: 22px;
    
    border: 2px solid #f55f8d;
    border-radius: 50%;
}

.extra-about {
    margin-top: 40px;
}

.extra-learn{
    margin-left: 15px;
}

.extra-learn a {
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    border-color: transparent !important;
    transition: all 0.5s;

    padding: 20px 35px;
    display: inline-block;
    border-radius: 40px;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.2;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
}


/* ----- offer ------  */

.offer {
    background-image: url(../image/samar11.png);
    background-position: center;
    background-repeat: no-repeat;

    height: 350px;
    margin-bottom: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
}

.offer::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f55f8c0c;
    
}



.offer-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 0 60px;
    line-height: 1.2;
    width: 168px;
   
}

.offer-icon {
    width: 80px;
    height: 80px;
    text-align: center;
    border-radius: 50%;
    background: linear-gradient(to right,#f55f8d 36%,#f8ae56 83%);

    display: flex;
    align-items: center;
    justify-content: center;
}

.offer-icon i {
    color: rgba(255, 255, 255, 0.89);
    font-size: 35px;
}

.offer-number {
    font-size: 4.5rem;
    font-weight: bold;
    color: #f55f8d;
    padding-left: 5px;
    overflow: hidden;
}

.offer-number::after {
    content: "MI";
    margin-left: 5px;
}

.offer-number-last::after {
    display: none;
}

.offer-item h5 {
    font-size: 1.1rem;
    font-weight: 200;
}


/* --------- features ------- */
.features {
    padding-top: 200px;

    display: flex;
    justify-content: center;

    background-image: url(../image/samar05.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.block-features {
    display: flex;
    
    
    width: 1200px;
    padding-top: 20px;
}



.features-content {
    width: 50%;
    margin-top: -125px;
}

.features-content h6 {
    color:#f55f8d;
    font-size: 1.4rem;
    font-weight: 700;
}

.features-content h2 {
    font-size: 3.8rem;
    line-height: 1.2;
    font-weight: 800;
    color: #262626;
}

.features-clone {
    display: flex;
    align-items: center;
    
   
    margin-top: 20px;
    
    width: 519px;
    height: 151px;
    box-shadow: 0 0px 60px 0px rgb(0 0 0 / 10%);
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    cursor: pointer;
    transition: all 1s ease-in;
}

.features-clone-2 {
    margin-left: 40px ;
}

.features-clone:hover {
    background-image: linear-gradient(
    to right,#f55f8d 0, #f8ae56 51%,#f55f8d 100%);
}

.features-clone:hover i {
    color: white !important;
    cursor: pointer;
}

.features-clone:hover .features-clone-content h4 {
    color: white !important;
    cursor: pointer;
}

.features-clone:hover .features-clone-content p {
    color: white !important;
    cursor: pointer;
}

.features-clone i {
    width: 20%;
    text-align: center;
    color: #f55f8d;
    font-size: 3.5rem;
    margin-right: 20px;
}

.features-clone-content {
    width: 80%;
}

.features-clone-content h4 {
    font-weight: 800;
    font-size: 1.5rem;
    color: #262626;
}

.features-clone-content p {
    font-size: 0.9rem;
    padding-right: 50px;
    color: #636363;
}

.features-img {
    width: 50%;
}

.features-img img {
    width: 100%;
    height: 120%;
    margin-top: -85px;

    animation: move 5s infinite;
}


/* ---- portfolio ---- */

.portfolio {
    margin-top: 155px;
    background-image: url(../image/samar13.png);
    background-size: contain;
    background-position: top right;
    background-repeat: no-repeat;

}

.portfolio-title {
    padding-top: 50px;
    text-align: center;
    margin-bottom: 30px;
}

.portfolio-title h6 {
    color:#f55f8d;
    font-size: 1.4rem;
    font-weight: 700;
}

.portfolio-title h2 {
    font-size: 3.8rem;
    line-height: 1.2;
    font-weight: 800;
    color: #262626;
}

.portfolio-content {
    display: flex;
    justify-content: center;

}

.portfolio-grid {
    height: 990px;
    width: 1200px;
    display: grid;
    grid-template-columns: repeat(7,1fr);
    

    gap: 30px;
    

}

.portfolio-grid-clone {
    overflow: hidden;
    border-radius: 20px;

    position: relative;
}



.portfolio-grid-clone img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.portfolio-grid-clone .overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #00000059;
    width: 100%;
    height: 100%;

    overflow: hidden;
    opacity: 0;
    transition: all 0.5s linear;

    cursor: pointer;
}

.portfolio-grid-clone:hover .overlay {
    opacity: 1;
}


.portfolio-grid-clone .overlay-title {
    position: absolute;
    bottom: -50px;
    left: 30px;
    transition: all 0.3s ease-in-out;

}

.portfolio-grid-clone:hover .overlay-title {
    bottom: 40px;
   
}

.portfolio-grid-clone .overlay-title h5 {
    color: #fff;
    font-size: 1.4rem;
    font-weight: 800;
}

.portfolio-grid-clone .overlay-title p {
    color: #f1f1f1;
    font-size: 0.9rem;
}

.portfolio-grid-clone .overlay-items {
    position: absolute;
    top: 0px;
    right: 0px;

    font-size: 1.5rem;
    width: 50px;
    height: 50px;
    color: white;
    border-radius: 8px;
    background: linear-gradient(
        to right,#f55f8d 25%, #f8ae56 80%);
    text-align: center;
    line-height: 50px;

    transition: all linear 0.5s;
}


.portfolio-grid-clone:hover .overlay-items {
    top: 20px;
    right: 20px
}

.portfolio-grid-clone .overlay-light {
    position: absolute;
    top: 0;
    left: -75%;
    z-index: 2;
    display: block;
    width: 50%;
    height: 100%;
    transition: all 0.4s ease;
    

    transform: skewX(-25deg);
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
}

.portfolio-grid-clone:hover .overlay-light {
    left: 100%;
    

}


.portfolio-grid-clone:first-child {
    grid-column: 1/5 ;
    grid-row: 1/2;
}

.portfolio-grid-clone:nth-child(2) {
    grid-column: 5/8;
}

.portfolio-grid-clone:nth-child(3) {
    grid-column: 1/3;
}   

.portfolio-grid-clone:nth-child(4) {
    
    grid-column: 3/5;

}

.portfolio-grid-clone:nth-child(5) {
    grid-column: 1/5;
    grid-row: 3/3;
}

.portfolio-grid-clone:last-child {
    grid-column: 5/8;
    grid-row: 2/4
}

/* ----- plan ------  */

.plan {
    margin-top: 160px;
    background-image: url(../image/samar20.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.plan-title {
    text-align: center;
}

.plan-title h6 {
    color:#f55f8d;
    font-size: 1.4rem;
    font-weight: 700;
}

.plan-title h2 {
    font-size: 3.5rem;
    line-height: 1.2;
    font-weight: 800;
    color: #262626;
}


.plan-container{
    width: 65%;
    margin: 3rem auto;


}
  

  
 .tab-slider--nav {
    width: 100%;
    float: left;
    margin-bottom: 20px;

    display: flex;
    justify-content: center;
  }
  
  .tab-slider--tabs {
    display: block;
    
    float: left;
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    
    overflow: hidden;
    background: linear-gradient(
        to right,#f55f8d 25%, #f8ae56 80%);
    height: 55px;
    width: 225px;
    user-select: none;
    border-radius: 10px;

    
    
  }
  .tab-slider--tabs:after {
    content: "";
    width: 47%;
    background: #fff;
    height: 85%;
    position: absolute;
    top: 4px;
    left: 5px;
    transition: all 250ms ease-in-out;
    border-radius: 10px;
  }
  .tab-slider--tabs.slide:after {
    left: 50%;
  }
  
  .tab-slider--trigger {
    font-size: 0.8rem;
    line-height: 1;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    padding: 20px 27px;
    position: relative;
    z-index: 2;
    cursor: pointer;
    display: inline-block;
    transition: color 250ms ease-in-out;
    user-select: none;
    font-weight: 600;
    
  }
  .tab-slider--trigger.active {
    color: black;
  }
  
  .tab-slider--body {
    margin-bottom: 20px;
    padding-top: 40px;

    width: 100%;
    display: flex;
    justify-content: space-between;

  }
  

  .tab-slider--container {
    
  }
 
  .plan-clone {
    width: 30%;
    padding: 35px 60px;
    border: 3px solid transparent;
    border-radius: 8px !important;
    overflow: hidden;
    background-color: #fff;
    
    box-shadow: 1px 0 50px rgb(0 0 0 / 10%);
    
  }

  .plan-clone:hover {
    border-image: url(../image/br.png) 1 round;
    cursor: pointer;
  }

  .clone-title {
    text-align: center;

    position: relative;
  }

  .clone-title::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -20px;
    width: 100%;
    height: 2px;
    background-color: #6363632a;


  }

  .clone-title h3 {
    font-size: 2rem;
  }

  .clone-title img {
    width: 125px;
    height: 125px;
  }

  .clone-title h2 {
    font-size: 3rem;
    color: #f8ae56;
    font-weight: 800 ;
  }

  .clone-title h2 small {
    font-size: 1.2rem;
    color: black;
    font-weight: 500;
  }

  .clone-check {
    margin-top: 50px;
  }

  .clone-check ul {
    list-style: none;
  }

  .clone-check ul li {
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: 15px;

    display: flex;
    align-items: center;
  }

  .clone-check ul li i {
    background-color: #f74278;
    border-radius: 50px;
    color: #fcdae4f8;
    font-size: 1.5rem;
    margin-right: 20px;
    
  }


  .extra-plan {
    text-align: center;
}

.extra-plan-start a {
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    border-color: transparent !important;
    transition: all 0.5s;

    padding: 20px 35px;
    display: inline-block;
    border-radius: 40px;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.2;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;
}

.extra-plan-start a:hover {
    background-position: right center;
}
  

/* ----- testimonial -------  */

.testimonial-content {
    max-width: 1199px;
    margin: auto;
    text-align: center;
    padding: 100px 0;
  }
  
  .testimonial-thumbs .testimonial-pic img {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    padding: 4px;
    position: relative;
    z-index: 2;
    background-color: #f55f8d;
  }
  
  .testimonial-thumbs {
    width: 300px;
    margin: auto;
    box-sizing: border-box;
    height: 170px;
    overflow: hidden;
    position: relative;
  }
  .testimonial-comment {
    min-height: 300px;
    width: 100%;
    overflow: hidden;

  }
  .testimonial-comment .swiper-wrapper {
    padding-bottom: 20px;
  }
  .testimonial-thumbs .testimonial-pic {
    padding: 30px 0 0;
    transition: all 0.5s;


  }
  .testimonial-thumbs .swiper-slide-thumb-active .testimonial-pic {
    padding: 0 0 40px;
  }
  .testimonial-text {
    padding: 30px;
    text-align: center;
    box-shadow: 0 20px 50px 0 rgb(0 0 0 / 10%);
    margin: 20px 100px;
    border-radius: 10px;
    background-color: #fff;
    max-width: 770px;
    margin-left: auto;
    margin-right: auto;
  }

  .testimonial-content .testimonial-thumbs .testimonial-pic .shape-bx {
    position: relative;
    height: 35px;
    width: 50px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10px;
    opacity: 0;
    transition: all 1s;
    z-index: 100;


  }

  .testimonial-content .testimonial-thumbs .testimonial-pic .shape-bx::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    transition: all 1s;
    

   

    background-image: url(../image/pattern12.png);
    background-position: bottom;
    background-size: contain;
    height: 35px;
    width: 50px;
  }

  .testimonial-content .testimonial-thumbs .testimonial-pic .shape-bx::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    transition: all 1s;
    


    background-color: #f55f8d;
    height: 35px;
    width: 50px;
    z-index: 100;
  }

  .swiper-pagination-bullets.swiper-pagination-horizontal {
   
  }
  